/*---------MENU----------*/

nav.navbar{
    background-color: #df6615 !important;
}

.navbar-brand{
    position: absolute;
    left: 10px;
    top: 25px;
    z-index: 1;
    float: left;
}

.menu{
    margin-right: 3%;
}

nav a{color: #ffffff;}

nav li.active a{
    background-color: rgba(0,0,0,.2);
    height: 100%;
}

nav li a:hover{color: #ffffff;}

button.navbar-toggler{
    margin-left: auto;
}


/*------------body general-------------*/

/*.container{
    margin: 0;
    padding:0;
    max-width: 100%;
}*/

/*-------MEDIA QUIERIES------*/

@media (max-width: 2000px){
    /*----------SLIDER---------*/
    .slider-1 > .carousel-caption{
        margin-bottom: 27% !important;
    }

    .slider-1> img,
    .slider-2> img,
    .slider-3> img{
        width: 100% !important;
    }
}

@media (max-width: 990px){
    nav{max-height: 600px;}
    .navbar-brand {position: absolute;left: 10px;top: 4px;z-index: 1;float: left;}
}
